@import url(//db.onlinewebfonts.com/c/226a348360da382b76aa98e853c7f938?family=Galorine);

.home{
  background-image: url('https://i.postimg.cc/k50FPHL8/1.png');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 150vh;
  overflow-x: hidden;
}
#about{
  background-image: url('https://i.postimg.cc/hGXn0HKs/1318e11aee7e8d6c9a9bf0f6368873a9.gif');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 150vh;
  overflow-x: hidden;
}
#contact{
  background-image: url('https://i.postimg.cc/T3GQrNVd/7457743332ac69c56a92e7c9800d953b.gif');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 150vh;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-image: url('https://i.postimg.cc/PqF5Wc80/Cool-gif-tumblr-wallpaper-hd-768x480.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 150vh;
  overflow-x: hidden;
  overflow-x: hidden;
  background-color: white;
  font-family: "Galorine", sans-serif;
  font-size: 24px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
} 

h1{
  color: white;
  margin-top: 20vh;
}

.cardBody{
  position: relative;
  /* set a fixed height for the container */
  height: 300px;
  /* add overflow property to hide any content that exceeds the container */
  overflow: hidden;
}


.articleBtn{
  position: absolute;
  /* set button position relative to the container */
  bottom: 0;
  /* center the button horizontally */
  left: 50%;
  transform: translateX(-50%);
}

a:hover{
  color:rgb(77, 77, 241)
}

#cardImg {
  height: 250px;
}

.descriptionText, .titleText{
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#card{
  height: 500px;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
#card:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 10px 10px rgb(0, 0, 0), 0 4px 8px rgba(0,0,0,.06);
}


p, hr, a {
  color: white;
}

.aboutUs{
  font-size: 14px;
}

.navbar{
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
}

Card{
  height: fit-content;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
